body {
  background-image: url("../src/logoc.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;
}

h1 {
  font-family: Dejavu Sans, Arial, Verdana, sans-serif;
  text-align: center;
  color: rgba(0, 0, 0, 0.788);
  background-color: rgb(245, 63, 8);
}
img {
  width: 200px;
  height: 150px;
  display: block;
  margin: auto;
}

h2 {
  font-family: "Amatic SC", cursive;
  text-align: center;
}
