body {
  background-color: rgb(245, 63, 8);
}

h2 {
  font-family: Dejavu Sans, Arial, Verdana, sans-serif;
  text-align: center;
  color: rgba(0, 0, 0, 0.788);
  background-color: rgb(245, 63, 8);
}
img {
  width: 100%;
  height: 150px;
  display: block;
  margin: auto;
}

h1 {
  font-family: "Amatic SC", cursive;
  text-align: center;
}
h3 {
  font-family: "Amatic SC", cursive;
  font-family: "Condiment", cursive;
  font-family: "Explora", cursive;
  font-family: "Permanent Marker", cursive;
  text-align: right;
}
